<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <% unless @user.commercials.empty? %>
      	<table class="commercials" summary "Commercial transcripts">
      		<%= render @commercials %>
      	</table>
 			<% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
			<% if current_user == @user %>
				<%= link_to "Create new commercial", new_commercial_path %>
			<% end %>
    </td>
  </tr>
</table>

