<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
        <% if current_user?(@user) %>
        	<h3><%= link_to "Edit profile", edit_user_path(@user) %></h3>
        <% end %>
      
      <% unless @user.commercials.empty? %>
      	<h3>Active contests:</h3><br />
      	<table class="commercials" summary "Commercial transcripts">
      		<%= render @commercials %>
      	</table>
 			<% end %>
 			<% unless @user.business_user? %>
 				<h1>Welcome, <%= "#{current_user.name}" %>.</h1>
				<h3>At Commercial.ize, you don't have to sit and watch commercials. You can make your own!</h3>
				<p>To start, you want to view the various commercial contests out there. To do so, click the "Commercials" link at the top of the page. You can edit your 					profile at any time by clicking on the "Edit profile" link.</p>
			<% end %>
			<% if current_user == @user && current_user.business_user? %>
				<%= link_to "Create new contest", new_commercial_path, :class => "signup_button round" %>
			<% end %>
 			<% if @user.posts.any? && current_user?(@user) %>
 				<table class="posts" summary "User Posts">
 					<div class="centerize medium_font">Your video posts so far:</div><br />
 					<%= render @posts %>
 				</table>
 			<% end %>
    </td>
    <td class="sidebar round">
      <strong>Most popular commercials</strong><br />
      <% popular_posts.each do |post| %>
				<%= link_to image_tag("#{post.thumbnail}"), commercial_path(post.commercial) %><br />
				<%= link_to "#{post.title}", commercial_path(post.commercial) %>
			<% end %>
    </td>
  </tr>
</table>

