<span>From <%= gravatar_for post.user, :size => 30 %><%= "#{post.user.name}" %>:</span>
<span><%= "#{post.title}" %></span>
<div><%= sanitize post.embed_text, :tags => %w(embed object param) %></div>
<span>Current vote score: <div id="total_vote_display"><%= "#{post.vote_total}" %></div></span><br />
<% if signed_in? && !current_user.business_user? %>	
	<%= link_to image_tag("thumbs_up.gif", :alt => "Vote thumbs up!", :class => "thumb"), vote_path(:value => 1, :post => post.id), :class => "thumbs_up_button",
			:remote => true %>
	<%= link_to image_tag("thumbs_down.gif", :alt => "Vote thumbs down!", :class => "thumb"), vote_path(:value => -1,
											  :post => post.id), :class => "thumbs_down_button", :remote => true %>
	<% @vote = Vote.find_by_user_id_and_post_id(current_user.id, post.id) %>
	<% if @vote %>
		<p>You voted <div id="vote">
				<% if @vote.value == 1 %><%= image_tag("thumbs_up.gif", :alt => "Thumbs up!") %>  <% end %>
				<% if @vote.value == -1 %><%= image_tag("thumbs_down.gif", :alt => "Thumbs down!") %>  <% end %>
			</div>
		</p>
	<% else %>
		<p> You have not yet voted! </p>
	<% end %>
<% end %>

<% if (current_user == post.user) || (current_user == post.commercial.user) %>	
	<%= link_to "Edit", edit_post_path(post) %>
	<%= link_to "Delete", post, :method => :delete, :confirm => "Are you sure?" %>
<% end %>
<br /><br />

