<span>From #<%= "#{post.user.name}" %>:</span>
<span>Title: <%= "#{post.title}" %>:</span>
<div><%= sanitize post.embed_text, :tags => %w(embed object param) %></div>
<% if current_user == post.user %>	
	<%= link_to "Edit", edit_post_path(post) %>
	<%= link_to "Delete", post, :method => :delete, :confirm => "Are you sure?" %>
<% end %>
<br /><br />
