<% if post.winner? %>
	<span id="winner">This is the winning post!</span><br />
<% end %>
<span><%= gravatar_for post.user, :size => 40 %>From <%= "#{post.user.name}" %>:</span>
<span><%= "#{post.title}" %></span>
<div><%= sanitize post.video_display, :tags => %w(embed object param) %></div>
<span>Current vote score: <div id="<%= post.title %>"><%= "#{post.vote_total}" %></div></span><br />
<% if signed_in? && !current_user.business_user? %>	
	<%= link_to image_tag("thumbs_up.gif", :alt => "Vote thumbs up!", :class => "thumb"), vote_path(:value => 1, :post => post.id), :class => "thumbs_up_button",
			:remote => true %>
	<%= link_to image_tag("thumbs_down.gif", :alt => "Vote thumbs down!", :class => "thumb"), vote_path(:value => -1,
											  :post => post.id), :class => "thumbs_down_button", :remote => true %>
	<% @vote = Vote.find_by_user_id_and_post_id(current_user.id, post.id) %>
	<div id="vote<%= post.id %>">
	<% if @vote %>
		<p>You voted 
				<% if @vote.value == 1 %><%= image_tag("thumbs_up.gif", :alt => "Thumbs up!") %>  <% end %>
				<% if @vote.value == -1 %><%= image_tag("thumbs_down.gif", :alt => "Thumbs down!") %>  <% end %>
		</p>
	<% else %>
		<div id="no_vote"> You have not yet voted! </div>
	<% end %>
	</div>
<% end %>

<% if (current_user == post.user) || (current_user == post.commercial.user) %>	
	<%= link_to "Edit", edit_post_path(post) %>
	<%= link_to "Delete", post, :method => :delete, :confirm => "Are you sure?" %>
<% end %>
<% if current_user == post.commercial.user && !post.commercial.closed? %>
	<%= link_to "Select as winner", choose_winner_path(:post => post.id), 
																										 :confirm => "Are you sure that you want to select this post as the winner?" %>
<% end %>
<br /><br />

